@model WebApplication2.Models.coursesModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.newCourse.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newCourse.CourseName)
        </dd>

        <dt>
           Students
        </dt>

        <dd>
            
        </dd>

           @foreach (var item in Model.newStudent)
           {

        <dt>
            @Html.DisplayNameFor(modelItem => item.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.StudentName)
        </dd>
           }
    </dl>
</div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
